p, h1, h2, h3, div {
    font-family: monospace;
}
.foreground {
    position: relative;
    z-index: 1;
}
canvas {
    display: block;
    margin: auto;
}
#sketchblock {
  align-items: center;
}

/*scrolling animation at top*/
.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
  }
  .scroll {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 80s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
    /* Add the following to restart the animation from the right side of the container */
    /* 50% {
        transform: translateX(100%);
      } */
  }

  
/*bg wind img*/
.bgimg {
    display: flex; /* use flexbox for centering */
    justify-content: center; /* center the child horizontally */
    align-items: center; /* center the child vertically */
    height: 100vh; /* make the container take up the full viewport height */
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 .bgimg img {
    max-width: 20%; /* limit the image size to 50% of its original size */
    z-index: -1;
    -webkit-filter: blur(3px); /* Chrome, Safari, Opera */
    filter: blur(3px);
}

.bgimg img:hover {
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
}
/*FOREGROUND ELMTS*/

/*globe*/
.globe{
    display: flex; /* use flexbox for centering */
    justify-content: center; /* center the child horizontally */
    align-items: center; /* center the child vertically */
    width: 100%;
    position: relative;
}
.globe img{
    max-width: 50%;
    position: relative;
}

/*bibliography or list*/
.bib {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right:2%;
}
#bib {
    text-align: right;
    margin-left: 50%;
}
.bibelt:hover {
    display: block;
    color: red;
}
.usa {
  color:rgb(149,149,149);
}
.hide {
    display: none;
}

.note{
  color: rgb(200, 200, 200);
  margin-left: 40%;
  margin-top: 1%;
  font-size: 10px;
}

/* places and names hover */
#place0:hover + #name0{
  display: block;
  color: red;
}
#place1:hover + #name1{
  display: block;
  color: red;
}
#place2:hover + #name2{
  display: block;
  color: red;
}
#place3:hover + #name3{
  display: block;
  color: red;
}
#place4:hover + #name4{
  display: block;
  color: red;
}
#place5:hover + #name5{
  display: block;
  color: red;
}
#place6:hover + #name6{
  display: block;
  color: red;
}
#place7:hover + #name7{
  display: block;
  color: red;
}
#place8:hover + #name8{
  display: block;
  color: red;
}
#place9:hover + #name9{
  display: block;
  color: red;
}
#place10:hover + #name10{
  display: block;
  color: red;
}
#place11:hover + #name11{
  display: block;
  color: red;
}
#place12:hover + #name12{
  display: block;
  color: red;
}


/*vane didactic*/
.vane{
  width: 100%;
  position: relative;
}

.vaneimgs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.vaneimgs img {
  display: block;
  width: 300px; /* Change this to the desired size of your images */
  height: 300px; /* Change this to the desired size of your images */
  margin-bottom: 10px; /* Change this to the desired spacing between the image and caption */
  filter: grayscale();
  -webkit-filter: grayscale(); /* Chrome, Safari, Opera */
  position: relative;
}

.vaneimgs img:hover{
  filter:none;
}


.vaneimgs figure {
  margin: 0 10px; /* Change this to the desired margin between images */
  text-align: center;
}

.vaneimgs figcaption {
  width: 300px;
  font-size: 14px; /* Change this to the desired font size */
  line-height: 1.2; /* Change this to the desired line height */
  word-wrap: break-word;
}

/*mobile viewing*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .content {
    padding: 10px;
  }
}